<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/create.css">
</head>
<body>
    <div class="container">
        <div class="container-form">
            <form action="/create" method="POST">
              <div class="container-input">
                <label>Property Title:</label>
                <input type="text" name="title" id="" />
              </div>
              <div class="container-input">
                <label>Property Agent:</label>
                <input type="text" name="agent" id="" />
              </div>
              <div class="container-input">
                <label>Location:</label>
                <input type="text" name="location" id="" />
              </div>
              <div class="container-input">
                <label>Latitude:</label>
                <input type="text" name="lat" id="" />
              </div>
              <div class="container-input">
                <label>Longitude:</label>
                <input type="text" name="long" id="" />
              </div>
              <div class="container-input">
                <label>Phone Number:</label>
                <input type="text" name="num" id="" />
              </div>
              <div class="container-input">
                <label>Property Type:</label>
                <input type="text" name="type" id="" />
              </div>
              <div class="container-input">
                <label>Land Area:</label>
                <input type="text" name="land_area" id="" />
              </div>
              <div class="container-input">
                <label>Building Area:</label>
                <input type="text" name="build_area" id="" />
              </div>
              <div class="container-input">
                <label>Price IDR:</label>
                <input type="text" name="price" id="" />
              </div>
              <div class="container-input">
                <label>Number of bathroom:</label>
                <input type="text" name="bathroom" id="" />
              </div>
              <div class="container-input">
                <label>Number of bedroom:</label>
                <input type="text" name="bedroom" id="" />
              </div>
              <div class="container-input">
                <label>Garage Capacity:</label>
                <input type="text" name="garage" id="" />
              </div>
              <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
          </div>
    </div>
    <a href="{{url_for('logout')}}">Press here to logout</a>
</body>
</html>

